# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

#过滤掉不想要文件和文件夹
*.exe
*.xml
*.iml
*.class
*.bak

# 不忽略 web.xml 文件
!web.xml

# 忽略 out 目录及其所有内容
/out/


