<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- v-model：专门用于表单，用于对表单项的数据做双向绑定 -->
    <!-- 数据一旦改变，视图改变 -->
    <!-- 视图一旦改变，数据改变 -->
    <div id="app">
        <form action="#">
            账号：<input type="text" name="username" v-model="username"><br>
            密码：<input type="password" name="password" v-model="password"><br>
            <button @click="login()">登录</button>
            <button @click="reset()">重置</button>
        </form>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                username: '',
                password: ''
            },
            methods: {
                login(){
                    alert('用户名：' + this.username + ' 密码：' + this.password);
                },
                reset(){
                    this.username = '';
                    this.password = '';
                }
            }
        });
    </script>
</body>
</html>