<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/inputnumber.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>购物车</title>
  </head>
  <body>
    <div class="app-container" id="app">
      <!-- 顶部banner -->
      <div class="banner-box"><img src="./img/fruit.jpg" alt="" /></div>
      <!-- 面包屑 -->
      <div class="breadcrumb">
        <span>🏠</span>
        /
        <span>购物车</span>
      </div>
      <!-- 购物车主体 -->
      <div v-if="fruitList.length != 0" class="main">
        <div class="table">
          <!-- 头部 -->
          <div class="thead">
            <div class="tr">
              <div class="th">选中</div>
              <div class="th th-pic">图片</div>
              <div class="th">单价</div>
              <div class="th num-th">个数</div>
              <div class="th">小计</div>
              <div class="th">操作</div>
            </div>
          </div>
          <!-- 身体 -->
          <div v-for="(item,index) in fruitList" :key="item.id" class="tbody">
            <div :class="{tr:true,active:item.isChecked}">
              <div class="td"><input type="checkbox" v-model="item.isChecked"/></div>
              <div class="td"><img :src="item.icon"/></div>
              <div class="td">{{item.price}}</div>
              <div class="td">
                <div class="my-input-number">
                  <button @click="sub(item.id)" class="decrease"> - </button>
                  <span class="my-input__inner">{{item.num}}</span>
                  <button @click="add(item.id)" class="increase"> + </button>
                </div>
              </div>
              <div class="td">{{item.num * item.price}}</div>
              <div class="td"><button @click="del(item.id)">删除</button></div>
            </div>
          </div>
        </div>
        <!-- 底部 -->
        <div class="bottom">
          <!-- 全选 -->
          <label class="check-all">
            <input type="checkbox" v-model="isAllCheck"/>
            全选
          </label>
          <div class="right-box">
            <!-- 所有商品总价 -->
            <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{checkedPrice}}</span></span>
            <!-- 结算按钮 -->
            <button class="pay">结算( {{checkedNum}} )</button>
          </div>
        </div>
      </div>
      <!-- 空车 -->
      <div v-else class="empty">🛒空空如也</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const defaultList = [
            {
              id: 1,
              icon: './img/火龙果.png',
              isChecked: true,
              num: 2,
              price: 6,
            },
            {
              id: 2,
              icon: './img/荔枝.png',
              isChecked: false,
              num: 7,
              price: 20,
            },
            {
              id: 3,
              icon: './img/榴莲.png',
              isChecked: false,
              num: 3,
              price: 40,
            },
            {
              id: 4,
              icon: './img/鸭梨.png',
              isChecked: true,
              num: 10,
              price: 3,
            },
            {
              id: 5,
              icon: './img/樱桃.png',
              isChecked: false,
              num: 20,
              price: 34,
            },
          ]
      const app = new Vue({
        el: '#app',
        data: {
          // 水果列表,从本地读取数据，如果没有读取默认数据
          fruitList: JSON.parse(localStorage.getItem('list')) || defaultList,
        },
        methods:{
          del(id){
            this.fruitList = this.fruitList.filter(item => item.id != id);
          },
          sub(id){
            const fruit = this.fruitList.find(item => item.id === id);
            if(fruit.num === 1){
              this.fruitList = this.fruitList.filter(item => item.id != id);
              return;
            }
            fruit.num--;
          },
          add(id){
            const fruit = this.fruitList.find(item => item.id === id);
            fruit.num++;
          }
        },
        computed: {
          isAllCheck:{
            //获取并判断数组所有元素的勾选状况
            get(){
              return this.fruitList.every(item => item.isChecked);
            },
            //全选和反选，根据计算属性的值来动态设置元素属性值
            set(value){
              this.fruitList.forEach(item => item.isChecked = value);
            }
          },
          //计算总数
          checkedNum(){
            return this.fruitList.reduce((sum,item) => item.isChecked ? 
            sum += item.num : sum += 0,0)
          },
          //计算总价
          checkedPrice(){
            return this.fruitList.reduce((sum,item) => item.isChecked ? 
            sum += item.num * item.price : sum += 0,0)
          }
        },
        watch:{
          fruitList :{
          deep:true,
            handler(newValue){
              // 需要将变化后的 newValue 存入本地 （转JSON）
              localStorage.setItem('list', JSON.stringify(newValue))
            }
          }
        }
      })
    </script>
  </body>
</html>
