<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="vipImplBean" class="com.hao_xiao_zi.spring.dao.VipImpl">
        <property name="age1" value="19"/>
        <property name="age2" value="20"/>
        <property name="flag1" value="false"/>
        <property name="flag2" value="true"/>
<!--        <property name="str" value="null"/>-->
        <property name="num" value="One"/>
        <property name="word1" value="c"/>
        <property name="word2" value="d"/>
        <property name="clazz" value="javax.net.SocketFactory"/>
    </bean>
</beans>