<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="sex==1">男生</p>
        <p v-else>女生</p>
        <br>
        <p v-if="score==100">满分</p>
        <p v-else if="score >= 80">优秀</p>
        <p v-else>及格</p>
    </div>
    <script>
        new Vue({
            el : '#app',
            data : {
                sex : 1,
                score : 80
            }
        })
    </script>
</body>
</html>