<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    指定要扫描哪些包下的类-->
<!--    <context:component-scan base-package="com.hao_xiao_zi.spring.bean,com.hao_xiao_zi.spring.bean2"/>-->
<!--    <context:component-scan base-package="com.hao_xiao_zi.spring.bean" use-default-filters="false">-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->
<!--    </context:component-scan>-->

    <context:component-scan base-package="com.hao_xiao_zi.spring.bean" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>
</beans>